venv/
data-science-env/
data-science/
.env/
DataSets/
Project/CNN_Architectures/LeNET-5/tuner_results/
Project/Deliverable_1/my_dir/
Project/Deliverable_1/logs/
Project/Deliverable_1/random_search_results/
Courses/Phase_7/checkpoints/
Courses/Phase_7/checkpoints1/
Courses/Phase_7/checkpoints2/
Project/Deliverable_2/autoencoder_tuning/
Project/Delivrable_3/annotations/
Project/Delivrable_3/train2014/
Project/Delivrable_3/extracted_features/
Project/Delivrable_3/fine_tuning_features/
Project/Delivrable_3/full_fine_tuning_features/